<% provide(:title, '用户注册') %>
<h1>用户注册</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path)do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label '用户名' %>
      <%= f.text_field :name %>

      <%= f.label '邮箱' %>
      <%= f.email_field :email %>

      <%= f.label '密码' %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, '密码确认' %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "创建用户", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>e for new users.</p>
